.caja1{
    background-color: rgb(214, 211, 157);
    height: 70px;
}

.caja2{
    background-color: rgb(216, 210, 210);
    height: 1200px;
}

.caja3{
    background-color: rgb(0, 0, 0);
    height: 1200px;
    
}

.caja4{
    background-color: rgb(188, 245, 197);
    height: 600px;
}

.caja5{
    background-color: rgb(133, 196, 245);
    height: 600px;
}

.caja6{
    background-color: rgb(0, 0, 0);
    height: 1200px;
}

.caja7{
    background-color: rgb(244, 223, 244);
    height: 600px;
}

.caja8{
    background-color: rgb(210, 249, 208);
    height: 600px;
}

.caja9{
    background-color: rgb(0, 0, 0);
    height: 1200px;
}

.caja10{
    background-color: rgb(249, 218, 251);
    height: 600px;
}

.caja11{
    background-color: rgb(228, 187, 246);
    height: 600px;
}

.caja12{
    background-color: rgb(0, 0, 0);
    height: 1200px;
}

.caja13{
    background-color: rgb(252, 251, 221);
    height: 600px;
}

.caja14{
    background-color: rgb(183, 246, 186);
    height: 600px;
}

.caja15{
    background-color: rgb(0, 0, 0);
    height: 1200px;
}

.caja16{
    background-color: rgb(244, 214, 198);
    height: 600px;
}

.caja17{
    background-color: rgb(243, 180, 180);
    height: 600px;
}